/*Seccion de header - menú*/

/*valores iniciales del body*/
body {
  padding: 0%;
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*Cambio de Color cuando hay hover en botón principal*/
#more:hover {
  background-image: linear-gradient(225deg, #0000fe, #00f0b8);
  color: white;
}

/*Cambio de Color cuando hay hover en botón secundario*/
#more2:hover {
  background-image: linear-gradient(225deg, #0000fe, #00f0b8);
  color: white;
}

/*header relative para manipular elementos hijo*/
header {
  position: relative;
  width: 100%;
  height: 80px;
}

.logo {
  padding-left: 7%;
  height: 100%;
  width: 20%;
}

.logo img {
  width: 36px;
  height: 36px;
  margin-top: 22px;
}

header label {
  position: absolute;
  display: none;
  z-index: 2;
  width: 18px;
  height: 12px;
  right: 6%;
  top: 16px;
}

/*menú responsive no visible*/
#check-menu {
  display: none;
}

header label img {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

/*click abrir menú responsive invisible*/
.show {
  position: absolute;
  visibility: hidden;
  height: 12px;
  width: 18px;
  right: 6%;
  top: 16px;
}

/*tamaño imagen menu responsive*/
.show img {
  position: absolute;
  width: 18px;
  height: 12px;
}

/*click cerrar menú responsive invisible*/
.showx {
  visibility: hidden;
  position: absolute;
  top: 16px;
  right: 5%;
  height: 14px;
  width: 14px;
}

/*tamaño imagen cierre menu responsive*/
.showx img {
  position: absolute;
  height: 14px;
  width: 14px;
}

/*tamaño menu*/
.menu {
  position: absolute;
  top: 0;
  padding-top: 26px;
  height: 54px;
  width: 100%;
  right: 7%;
}

/*tamaño lista menu*/
.menu ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/*tamaño y distribución de items*/
.menu li a {
  height: 80px;
  padding-top: 26px;
  padding-left: 48px;
  font-size: 16px;
  vertical-align: center;
  font-family: "IBM Plex Mono Regular 400", monospace;
  color: #060a24;
  text-decoration: none;
}

/*animación hover en items del menu*/
.menu li a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

.menu li a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
}

/*transformación de elementos a vista responsiva con media query*/
@media (max-width: 700px) {
  header label {
    display: block;
  }
  header {
    position: relative;
    height: 44px;
  }
  .logo img {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 10px;
  }
  .menu {
    visibility: hidden;
    position: absolute;
    background-color: blue;
    max-width: 320px;
    height: 224px;
    top: 44px;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  .menu ul {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
  }
  .menu li a {
    height: 100%;
    padding-top: 0px;
    padding-left: 0px;
    font-size: 16px;
  }
  /*imagenes y animación menu responsivo por click*/
  .show {
    visibility: visible;
  }
  .showx {
    visibility: hidden;
  }
  #check-menu:checked ~ .menu {
    visibility: visible;
  }
  #check-menu:checked ~ .show {
    visibility: hidden;
  }
  #check-menu:checked ~ .showx {
    visibility: visible;
  }
}
